@keyframes move1 {
    0%{
        transform: translateX(0%);
    }
    
    40%{
        transform: translateX(-5%);
        background-color: aliceblue;
    }
    
    70%{
        transform: translateX(-5%);  
        background-color:black;
    }



}


@keyframes move2 {

    0%{
        transform: translateX(0%);
    }
    
    40%{
        transform: translateX(-10%);
        background-color: aliceblue;
    }
    
    75%{
        transform: translateX(-10%);  
        background-color:black;
    }
    
    
    }


    @keyframes move3 {

        0%{
            transform: translateX(0%);
        }
        
        40%{
            transform: translateX(-15%);
            background-color: aliceblue;
        }
        
        80%{
            transform: translateX(-15%);  
            background-color:black;
        }
        
        }

        @keyframes move4 {

            0%{
                transform: translateX(0%);
            }
            
            40%{
                transform: translateX(-20%);
                background-color: aliceblue;
            }
            
            85%{
                transform: translateX(-20%);  
                background-color:black;
            }
            
            
            }