@mixin flex ($diretion, $justify, $align){
    display: flex;
    flex-direction: $diretion;
    justify-content: $justify;
    align-items: $align;

}

@mixin gridarticles ($columns, $rows, $align, $justify ){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    align-content: $align;
    justify-content: $justify;
    
}

@mixin theme-colors($light-theme: true) {
    @if $light-theme {
      background-color: $donation;
      color:black;
      border-radius: 10px;
    } @else {
      background-color: orange;
      color: black;
    }
  }
  