/* colores */
$color-primary: #2c6ccc;
$color-secondary: #918585;
$lab-color: #d9d9d9;
$cam-color: #60a9a4;
$chat-color: #010404;
$text-color: white;


/* fuentes */
$font-primary: 'inter';


/* tamaño de fuentes */
$font-lx: 16px;
$font-ml: 14px;
$font-sm: 10px;
$font-xs: 9px;
