/* articulos */

/* media small */
@media screen and (max-width: $sm-bp){

    .containerHospital{
        border-top: aliceblue solid 6px;
        margin-top: 10px;
        text-align: justify;
        padding-top: 15px;
    }

    .gridArticles2_container{
        border-top: aliceblue solid 6px;
        margin-top: 10px;
        text-align: justify;
        padding-top: 15px;
    }

    .iconVermas{
        color: black;
        font-size: $font-sm;
    }

    .containerHospital_profesional{
        text-align: justify;
    }

    .rrhh_info{
        margin-left: 30%;
        color: #2c6ccc;
    }
}

/* media medium */
@media screen and (min-width: $sm-bp){
    .containerHospital {
        @include gridarticles ((50% 50%), none, end, space-between);
        align-items: flex-end;
        & .containerHospital_content{
            padding-right: 10px;
            border-top: 5px solid aliceblue;
            text-align: justify;
        }
    
        & .containerHospital_profesional{
            
            text-align: justify;
            
        }
    }
    
    .rrhh_info{
        margin-top: 20px;
        margin-left: 30%;
        color: #2c6ccc;
        text-decoration: none;
        font-size: $font-lxx
        
    
    }
    
    .gridArticles2 {
        @include gridarticles ((50% 50%), none, none, space-between);
    
        & .gridArticles2_container{
            @include gridarticles (none, (50% 50%),none, none);
            border-top: 5px solid aliceblue;
            text-align: justify;
            padding: 10px 10px 0px 10px;
            margin-top: 15px;
    
            }
            }
    .iconVermas{
        color: black;
        font-size: $font-sm;
    }
    }


/* media large */
@media screen and (min-width: $lg-bp) {

    .containerHospital {
    @include gridarticles ((50% 50%), none, end, space-between);
    align-items: flex-end;
    & .containerHospital_content{
        padding-right: 10px;
        border-top: 5px solid aliceblue;
        text-align: justify;
    }

    & .containerHospital_profesional{
        
        text-align: justify;
        
    }
}

.rrhh_info{
    margin-top: 20px;
    margin-left: 30%;
    color: #2c6ccc;
    text-decoration: none;
    font-size: $font-lxx
    

}

.gridArticles2 {
    @include gridarticles ((50% 50%), none, none, space-between);

    & .gridArticles2_container{
        @include gridarticles (none, (38% 62%),none, none);
        border-top: 5px solid aliceblue;
        text-align: justify;
        padding: 10px;
        margin-top: 15px;

        }
        }
.iconVermas{
    color: black;
    font-size: $font-sm;
}


}


